@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 5% 8%;
    --foreground: 40 10% 95%;
    --card: 240 5% 11%;
    --card-foreground: 40 10% 95%;
    --popover: 240 5% 11%;
    --popover-foreground: 40 10% 95%;
    --primary: 239 84% 76%;
    --primary-foreground: 240 5% 8%;
    --secondary: 240 5% 14%;
    --secondary-foreground: 40 10% 95%;
    --muted: 240 5% 15%;
    --muted-foreground: 240 4% 62%;
    --accent: 239 84% 76%;
    --accent-foreground: 240 5% 8%;
    --destructive: 0 62% 52%;
    --destructive-foreground: 40 10% 95%;
    --border: 240 5% 19%;
    --input: 240 5% 19%;
    --ring: 239 84% 76%;
    --radius: 0rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .dark {
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

* {
  border-color: hsl(var(--border));
}

body {
  margin: 0;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
